/*styling div main container*/
div#divmaincontainer{
  width:80%;
  margin:auto;
/*border:1px solid turquoise;*/
}

/*styling the site header*/
header#siteheader{
  width:100%;
  height:100px;
  background-image:linear-gradient(greenyellow, cyan, teal);
  border:1px solid darkgrey;
  border-radius:15px 15px 0 0;
}

/*styling site title*/
h1#sitetitle{
  font-family:Arial;
  font-size:30px
  color:orange
}
